GearIndexOf.js
testt.js
# https://www.acmicpc.net/problem/1102
powerPlant.js

Object.values()
Array.prototype.map()
Array.prototype.some()
Array.prototype.forEach()
Array.prototype.filter()
Array.prototype.reduce()
Array.prototype.sort()
string.prototype.split()
string.prototype.substr()
Math.ceil()

# 1. 중복되는 것이 보인다? 줄일 수 있을 것이다.