testt.js
# https://www.acmicpc.net/problem/1102

# 10818.js (minMax - reduce) +
# 1110.js (Plus cycle) +
# 2884.js (Leap Year) +
# 2920.js (scale) +
# 2577.js (The number of numbers) +
# 3052.js (The rest - idea) +
# 4344.js (It'll be above average - practice new answer) +
# 4673.js (Self Number - practice new answer) +
# 10809.js (Find alphabet - skill) +
# 2941.js (Croatia alphabet - RegExp)
# 1316.js (Check group word)
# 1712.js (Break-Even Point)
GearIndexOf.js
powerPlant.js
targetNumber.js
2020KAKAO_Winter_Intern
2019Midas

Function.prototype.apply()
Object.values()
Array.prototype.map()
Array.prototype.some()
Array.prototype.forEach()
Array.prototype.filter(callback(element[, index[, array]])[, thisArg]) # for + if + push
Array.prototype.reduce()
Array.prototype.sort()
Array.prototype.shift() # removes the first element from an array and returns that removed element
Array.prototype.slice()
Array.prototype.splice()
Array.prototype.join()
Array.prototype.reverse()
Array.prototype.includes(valueToFind[, fromIndex])
String.prototype.split()
String.prototype.substr(start[, length]) # but, deprecated(but, priority)
String.prototype.substring(indexStart, indexEnd)) # (start, End+1)
String.prototype.indexOf(searchElement[, fromIndex])
String.prototype.replace(regexp|substr, newSubstr|function)
String.prototype.trim() # removes whitespaces
Math.ceil()
Math.abs()
Math.min()
Math.max()
Number(value)
Number.isInteger(value)
Number.parseInt(value)
Number.prototype.toFixed()
Number.isNaN(value) #whether NaN and Number (Not a Number)
isNaN(value) # NaN or not (difference: isNaN implicitly converts the arguments to a number)
convert type(such as string to num Or num to string) IntToStr( number + '' ) strToInt( str / 1 )
Regular Expressions
continue

# 1. 중복되는 것이 보인다? 줄일 수 있을 것이다.

# For Baekjoon Algorithm

# var fs = require('fs');
# var input = fs.readFileSync('/dev/stdin').toString().split('\n'); Or split(' '); Or toString().trim().split('\n');
# var a = parseInt(input[0]);
# var b = parseInt(input[1]);

# 자동 형변환 기대하지말고, 숫자는 parseInt() 꼭 해줘야함